.app__newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 4rem 6rem;
    width: 75%;
    background: var(--color-black);
}

.app__newsletter-heading {
    margin-bottom: 1.5rem;
}

.app__newsletter-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 5rem;
}

.app__newsletter-form p {
    color: var(--color-grey);
}

.app__newsletter-form_email {
    display: flex;
    justify-content: center;
    gap: 2rem;
}

.app__newsletter-form_email input {
    flex: 1;
    font-size: 1.2rem;
    max-width: 420px;
    padding: 0 20px;
    border: 1px solid var(--color-gray);
    background: transparent;
    font-family: var(--font-base);
    color: var(--color-grey);
}

@media screen and (max-width: 850px) {
    .app__newsletter {
        width: 100%;
    }
    
    .app__newsletter-form p {
        font-size: 14px;
    }

    .app__newsletter-form_email input {
        font-size: 14px;
    }
}

@media screen and (max-width: 650px) {
    .app__newsletter {
        padding: 2rem 4rem;
    }

    .app__newsletter-heading {
        margin-bottom: 0.5rem;
    }

    .app__newsletter-heading h1 {
        font-size: 45px;
        line-height: 60px;
    }

    .app__newsletter-form {
        gap: 1rem;
    }
    
    .app__newsletter-form_email {
        gap: 1rem;
    }
}

@media screen and (max-width: 550px) {
    .app__newsletter-form p {
        font-size: 12px;
    }

    .app__newsletter-form_email {
        flex-direction: column;
    }

    .app__newsletter-form_email input {
        padding: 1rem;
    }

    .app__newsletter-form_email input {
        font-size: 12px;
    }    
}