.app__menucomp {
    width: 100%;
    margin: 1rem 0;
    display: flex;
    flex-direction: column;
}

.app__menucomp-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.app__menucomp-sub {
    width: 100%;
    margin-top: 0.2rem;
}

.app__menucomp-name {
    flex: 1;
}

.app__menucomp-dash {
    width: 90px;
    height: 1px;
    background: var(--color-golden);
    margin: 0 1rem;
}

.app__menucomp-price {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}